/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');


/* ALL */

* {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
}

/* VARIABLES */

:root {
  --primary-red: #A02A44;
  --secondary-red: #E35352;
  --primary-pink: #EEE4E39C;
  --secondary-pink: #EDDCDC;
  --primary-green: #B9CC4C;
  --primary-yellow: #F8B84E;
  --primary-black: #5D5E5F;
  --primary-black-opac: rgba(93, 94, 95, 0.9);
  --secondary-black: #303754;
  --primary-grey: #A1A1A5;
}


/* COMMONS */

body {
  font-family: 'Mulish', sans-serif;
  color: var(--primary-black);
}

.primary-button {
  color: white;
  border: none;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-radius: 10px;
  background-color: var(--secondary-red);
  transition-duration: 1s;
}

.primary-button:hover {
  background-color: var(--primary-red);
  transition-duration: 1s;
}

.text-primary-red {
  color: var(--primary-red);
}

.text-secondary-red {
  color: var(--secondary-red);
}

.text-primary-black {
  color: var(--primary-black);
}

.text-primary-black-opac {
  color: var(--primary-black-opac);
}

.text-secondary-black {
  color: var(--secondary-black);
}

.text-primary-green {
  color: var(--primary-green);
}

.text-primary-yellow {
  color: var(--primary-yellow);
}

.bg-primary-pink {
  background-color: var(--primary-pink);
}

.bg-secondary-pink {
  background-color: var(--secondary-pink);
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.bg-half-color {
  background: linear-gradient(90deg, var(--secondary-pink) 50%, #FFFFFF 50%);
}


/* nav bar */
.menu {
  background: #ead8d8;
  height: 137px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px;
}

nav .menu__logo {
  display: flex;
  align-items: center;
}

/* nav .menu__logo a img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
} */

.menu__lista {
  display: flex;
  margin-bottom: 0px
}

.menu__item {
  list-style: none;
  padding: 0 15px;
}

.menu__item a {
  color: var(--primary-black);
  font-size: 1rem;
  text-decoration: none;
}

nav .menu__item a:hover {
  color: #e35352;
}

nav form {
  display: flex;
  height: 40px;
  padding: 2px;
  background: #ffffff;
  border-radius: 20px;
  min-width: 18% !important;

  border: 1px solid rgba(155, 155, 155, 0.2);
}

nav form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #a5a5a5;
  font-size: 1rem;
  border: none;
  background: none;
}

.search-data:focus {
  outline: none;
}

nav form button {
  padding: 0 15px;
  color: #a5a5a5;
  font-size: 22px;
  background: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

nav form button:hover {
  background: #f2f2f2;
}

.menu__auth {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 0;
  padding: 0 15px;
}

.menu__auth li a {
  color: var(--primary-black);
  font-size: 1rem;
  text-decoration: none;
}

.menu__auth li a:hover {
  color: #e35352;
}


@media all and (max-width: 700px) {
  .menu {
    background: #ead8d8;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 0px;
    padding: 30px 30px 1px;
  }

  .menu__lista {
    flex-direction: column;
    width: 100%;
    padding: 30px 0px;
  }

  .menu__item {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 0px;
  }

  nav form {
    width: 100%;
  }

  .menu__auth {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 0px;
    padding-top: 15px;
    justify-content: center;
  }

  .menu__auth li {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;


  }
}

/* FOOTER */
footer {
  background-color: var(--primary-pink);
}

.news {
  margin: revert !important;
}

/* .footer-newsletter img {
  width: 150px;
  height: 150px;
} */

.footer-newsletter i {
  font-size: 2rem;
}

.footer-newsletter input {
  border: 1px solid var(--primary-black);
  border-radius: 10px;
}


/* HEADER */

.header-title {
  font-weight: 400;
  font-size: 3em;

}

.header-paragraph {
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 400;
}

/* BOOK COMPONENT */

.book-resume h2,
h3 {
  font-size: 1rem;
}

.book-resume h2 {
  color: var(--primary-black-opac);
  font-weight: 500;
}

.book-resume h3 {
  color: var(--secondary-black);
  font-weight: 600;
}



/* Content */
.content {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
}

/* img {
  width: 100%;
  height: auto;
} */


/* FEATURED INFO SECTION */

.icon-backgorund{
  background: #F6F6F7;
  border-radius: 30px;
}

.featured-info-backgound{
background: #FEFEFE;
border: 1px solid rgba(0, 0, 0, 0.09);
border-radius: 40px;
}

.extra-margin{
  margin-top: 10rem;
}
