/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');


/* ALL */

*{
  font-family: 'Mulish', sans-serif;
  font-style: normal;
}

/* VARIABLES */

:root {
    --primary-red: #A02A44;
    --secondary-red: #E35352;
    --primary-pink: #EEE4E39C;
    --primary-green: #B9CC4C;
    --primary-black: #5D5E5F;
    --primary-black-opac: rgba(93, 94, 95, 0.9);
    --secondary-black: #303754;
    --primary-grey: #A1A1A5;
}


/* COMMONS */

.primary-button {
    color: white;
    border: none;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 10px;
    background-color: var(--secondary-red);
    transition-duration: 1s;
}

.primary-button:hover {
    background-color: var(--primary-red);
    transition-duration: 1s;
}

.text-primary-red {
    color: var(--primary-red);
}

.text-primary-black {
    color: var(--primary-black);
}

.text-primary-black-opac {
  color: var(--primary-black-opac);
}

.text-secondary-black {
    color: var(--secondary-black);
}

.bg-primary-pink {
    background-color: var(--primary-pink);
}

.fw-300{
    font-weight: 300;
}

.fw-400{
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.fw-700{
    font-weight: 700;
}

.fw-800{
    font-weight: 800;
}


/* nav bar */



/* HEADER */

.header-title {
    font-size: 3em;
}

.header-paragraph {
    line-height: 2rem;
    font-size: 1rem;
}

/* BOOK COMPONENT */

.book-resume h2, h3{
  font-size: 1rem;
}

.book-resume h2{
  color: var(--primary-black-opac);
  font-weight: 500;
}

.book-resume h3{
  color: var(--secondary-black);
  font-weight: 600;
}
